<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">ArtusBay</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "HOME", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ABOUT", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "SERVICES", services_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "TEAM", team_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "CONTACT", contacts_path, class: "nav-link" %>
              </li>
        </ul>
      </div>
  </div>
</nav>


