<!DOCTYPE html>
<html>
<head>
  <title>ArtusBayLine</title>
  <!--<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave|Source+Sans+Pro:400,700" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <!--<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">-->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
      <%= render 'layouts/header' %>
      
      <div class="container-fluid">
        <div class="jumbotron-main">
            
          
            <%= yield %>
          </div>
      </div>
        
        
      <%= render 'layouts/footer'%>

</body>
</html>
